.onas {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 43, 43);
  text-align: center;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(251, 245, 236); 
}

.section-1 {
  display: flex;
}


.about-text {
  background-color: rgb(251, 245, 236);
  text-align: left;
}


.przyczepy-info {
  margin-top: 50px;
}

.about-text {
  max-width: 600px;
  margin: auto;
  font-size: 1rem;
  line-height: 1.8;
  color: #34495e;
  font-weight: 200;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.about-text h3 {
  margin-top: 1.5rem;
  color: #34495e;
}

.about-text p {
  margin-bottom: 1rem;

}
.about-image {
  flex: 1;
  width: 100%;
  overflow: hidden;
  min-height: 300px; /* Adjusted min-height for better responsiveness */
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line {
  height: 1px;
  background-color: black;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .section-1 {
    flex-direction: column; /* Stack vertically */
    align-items: center;
  }

  .about-text {
    text-align: center;
  }

  .about-text h2 {
    font-size: 1.8rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .about-text h2 {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 0.9rem;
  }

  .about-image {
    margin-top: 20px;
  }
}